header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
main{
    display: flex;
    flex-wrap: nowrap;
}
.table td {
    vertical-align: 0;
}
.grade-average-container{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
}

.push-right {
    display: flex;
    justify-content: flex-end;
}
.button-container{
    display: flex;
    justify-self: flex-start;
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

form{
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.form-input-height{
    height: 3vw;
}

button{
    margin-left: 10px;
    padding: 0 30px;
    border-radius: 5px;
}
.delete-button{
   padding: 4px 14px;
    margin: 0;
    border-radius: 3px;
}
.input-group-mod {
    background-color: white;
    border: none;
    font-size: 2rem;
}

.padding-left-right-0 {
    padding-right: 0;
    padding-left: 0;
}
button:active {
    transform: scale(.9);
}
.operations{
    text-align: right;
}
